*{
  padding:0px;
  margin:0px;
  font-family: Figtree;
}
body{
position: absolute;
top:50%;
left:50%;
transform:translateX(-50%) translateY(-50%) ;
background-color:hsl(47, 88%, 63%) ;



}
.container{
  width:300px;
  height:440px;
  border:1px solid black;
  padding:20px;
  border-radius: 20px;
  line-height: 30px;
  background-color: white;
  box-shadow: 9px 9px;
  margin-bottom: 10px;
  
}#article{
  width:300px;
  border-radius: 20px;
}
#learning{
  display: inline-block;
  padding:3px 15px;
  border-radius: 3px;
  margin-bottom: 10px;

  color:black;
  background-color:hsl(47, 88%, 63%);
  font-weight: 800;
}
h3{
  font-size: 20px;
  font-weight:800;
  margin-top:10px;
}
h3:hover{
  color:hsl(47, 88%, 63%);
  cursor:pointer;
}
.author{
  display:flex;
  align-items: center;
  font-weight: 800;
}
#author_img{
  width:40px;
  height:40px;
  margin-right: 10px;

}
#course_des{
  width:310px;
  font-weight: 600;
  font-size: 14px;
  color:rgb(166, 166, 166);
  line-height: 20px;
  margin-top:10px;
  margin-bottom: 20px;
}